a {
    text-decoration: none !important;
}

::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #00337c;
    border-radius: 5px;
  }

  .btn {
    width: 100% !important;
  }
  .card {
    border: transparent !important;

  }
  .card-table {
    margin-top: 80px !important;
    background-color: transparent;
  }
  .card-body{
    background-color: transparent !important;
  }
  .btn-plus {
    width: 20% !important;
    text-align: center;
    float: right;
    position: absolute;
    right: 0px !important;
  }
  .font-bold {
    font-weight: 900 !important;
  }

  .btn2{
    width: 40px !important;
  }

  .header-sidebar{
    max-width: 100%; /* Jangan melebihi lebar container */
    height: auto;
    margin-top:20px ;
  }
  .brand-logo{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  h5 {
    margin-bottom: 0px !important;
  }
tr {
    text-align: left !important;
}
